//reset slick slider css
.slick-prev {
  border: 1px solid #d7d7d7 !important;
  text-align: center;
  line-height: 48px !important;
  // position: relative !important;
  left: -10 !important;
  z-index: 1000;
  height: 48px !important;
  width: 44px !important;
  background-color: #ffff !important;
  &:hover {
    background-color: #d7d7d7 !important;
  }
}
.slick-prev::before {
  font-family: FontAwesome !important;
  color: #49bce2 !important;
}
.slick-next {
  border: 1px solid #d7d7d7 !important;
  text-align: center;
  line-height: 48px !important;
  // position: relative !important;
  right: -10 !important;
  z-index: 1000;
  height: 48px !important;
  width: 44px !important;
  background-color: #ffff !important;
  &:hover {
    background-color: #d7d7d7 !important;
  }
}
.slick-next::before {
  font-family: FontAwesome !important;
  color: #49bce2 !important;
}
