.section-specialty {
  width: 1292px;
  height: 330px;
  background: #ffff;
  margin: 0 auto;
  .section-container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    .section-header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      .title-section {
        font-size: 22px;
        font-weight: 600;
      }
      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        outline: none;
        display: block;
        background-color: #ebebeb;
        color: #000000;
        cursor: pointer;
        &:hover {
          color: #ffff;
          background: #f7d800;
        }
      }
    }
  }
  .section-body {
    height: 300px;
    .specialty-customize {
      padding: 0 5px;

      &:hover {
        color: #49bce2;
        cursor: pointer;
      }
    }
    .title-specialty {
      margin-top: 5px;
    }
  }
}
